@{
    string username = null;
    foreach(var claim in User.Claims)
    { 
        if(claim.Type=="username") 
        username = claim.Value; 
    }
}


<nav  class="navbar navbar-expand-lg navbar-light bg-light" >
  <!-- home-->
  <a class="navbar-brand bi-house-fill" asp-controller="Items" asp-action="Index" asp-route-PageIndex="0" >Home</a>
  
  @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>*@

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#FFD400">
    <ul class="navbar-nav mr-auto">

        <!-- Items-->
      <li class="nav-item active">
        <a class="nav-link bi-cart-fill" asp-controller="Items" asp-action="Index" asp-route-PageIndex="1"> Items <span class="sr-only">(current)</span></a>
      </li>
      <!--Users-->
      <li class="nav-item">
        <a asp-controller="Users" asp-action="Index" asp-route-PageIndex="1" class="nav-link" >Users</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0" id="customize-search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!--profile-->
    <ul class="navbar-nav"> 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MyItems 
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  
                  asp-controller="Items" 
                  asp-action="MyItems"  
                  asp-route-pageIndex="1"                  
              >My Items</a>
             
            </div>
       </li>
       <!---->
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Collections  
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  asp-controller="ListAuctionings" asp-action="index">Bought</a>  
              <a class="dropdown-item"  asp-controller="MyAuctionings" asp-action="index">Paid</a>
              <a class="dropdown-item"  asp-controller="MyAuctionings" asp-action="index">Successful Auction</a>
              <a class="dropdown-item"  asp-controller="MyAuctionings" asp-action="index">My Auctioning</a>            
            </div>
       </li>
       <!---->
       <li class="nav-item dropdown">
        @*<a class="nav-link bi-person-square" href="#"> Profile <span class="sr-only">(current)</span></a>*@
        <!-- bi-person-square customize-profile -->
        <div class="btn-group">
          <button type="button" class="nav-link customize-profile bi-person-square " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile @username
          </button>
          <div class="dropdown-menu dropdown-menu-right">
          @if(username != null)
            {
                <a asp-controller="Account" asp-action="logout" class="dropdown-item" >Log out</a>
            }
          else 
              {
                   <a  asp-controller="Account" asp-action="login" asp-route-ReturnUrl="/Items" class="dropdown-item" type="button">Log in</a>
              }       
            <button class="dropdown-item" type="button">Register</button>
            <button class="dropdown-item" type="button">My Profile</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<style>
    #customize-search{
       margin:auto;
       width:auto;
    }
    .customize-profile{
        border:none;
        background-color:inherit;
        color:inherit;
    }


</style>