<nav  class="navbar navbar-expand-lg navbar-light bg-light" >
  <!-- home-->
  <a class="navbar-brand bi-house-fill" asp-controller="Items" asp-action="Index" asp-route-PageIndex="0" >Home</a>
  
  @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>*@

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#FFD400">
    <ul class="navbar-nav mr-auto">

        <!-- Items-->
      <li class="nav-item active">
        <a class="nav-link bi-cart-fill" asp-controller="Items" asp-action="Index" asp-route-PageIndex="1"> Items <span class="sr-only">(current)</span></a>
      </li>
      <!--Users-->
      <li class="nav-item">
        <a asp-controller="Users" asp-action="Index" asp-route-PageIndex="1" class="nav-link" >Users</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="customize-search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!--profile-->
    <ul class="navbar-nav"> 
       <li class="nav-item ">
        @*<a class="nav-link bi-person-square" href="#"> Profile <span class="sr-only">(current)</span></a>*@
        <div class="btn-group">
          <button type="button" class="bi-person-square customize-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
             @foreach(var claim in User.Claims) { @if(claim.Type=="username") @claim.Value; }
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a  asp-controller="Account" asp-action="login" asp-route-ReturnUrl="/Items" class="dropdown-item" type="button">Log in</a>
            <a asp-controller="Account" asp-action="logout" class="dropdown-item" >Log out</a>
            <button class="dropdown-item" type="button">Register</button>
            <button class="dropdown-item" type="button">My Profile</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<style>
    #customize-search{
       margin:auto;
       width:auto;
    }
    .customize-profile{
        border:none;
        background-color:inherit;
        color:inherit;
    }


</style>