@using AuctionHome.Library
@model IEnumerable<AuctionHome.Models.Item>

@{
    ViewData["Title"] = "Index";
}




<h1>Index</h1>
<a class="btn btn-success btn__add--book text-white"
           onclick="ajaxShow('@Url.Action("AddOrEdit","Items",null,Context.Request.Scheme)','New Items')">
            <i class="fas fa-plus">Add new</i>
</a>


<partial name="_ListCard" />
<partial name="_Paging" />





